body {

display: flex;
flex-direction: column;

}

/*1st section*/
header {

 
display: flex;
flex-direction: column;


}


.top-part{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

a {
    text-decoration: nones;
}

.info{


    display: flex;
    gap: 10px;
}

.info .mssge{

display: flex;
max-width: 200px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.mssge .txt{

font-size: 16px;
font-weight: 900;


}

.mssge .sub-txt{

text-align: justify;


}
.info .img{


    height: 200px;
    width: 200px;
    align-self: center;
}
/*1st section*/